table{
	background-color: silver;
	border-style:solid;
	border-width:2px
	border: 1px solid red;
	border-color:red;
}

td{
	text-align: center;
	border: 1px solid red;
	background-color: silver;
}

tr{
	background-color: grey;
}

/*.button{
	background-color: purple;
	border-color: black;
	color: white;

}

.layout{
	background-color: gold;
	border: 5px solid white;
	padding:10px;
}*/

/*ALL ATTEMPTS TO ADD FURTHER CSS IS NOT WORKING, UNSURE WHY*/