table{
	background-color: silver;
	border-style:solid;
	border-width:2px
	border: 1px solid red;
	border-color:red;
}

td{
	text-align: center;
	border: 1px solid red;
	background-color: silver;
}

tr{
	background-color: grey;
}

.submit{
	background-color: purple;
	border-color: black;
	color: white;
}

/*.layout{
	background-color: darkseagreen;
	border: 5px solid white;
	padding:10px;
}*/